
spring:
 application:
  name: ORDER-SERVICE
 datasource:
  url: jdbc:mysql://localhost:3306/orderdb
  username: root
  password: Hacker@anuj001
 jpa:
  hibernate:
   ddl-auto: update
server:
 port: 8082
eureka:
 client:
  service-url:
   defaultZone: http://localhost:8761/eureka
