
server:
  port: 9000
spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: item
          uri: lb://ITEM-SERVICE
          predicates:
            - Path=/api/items/**
        - id: order
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/orders/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
